{% extends "layouts/base.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = translate("pages.chooseBank.title") %}

{% block mainContent %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{
      govukSelect({
        id: "bank-select",
        name: "bankSelect",
        label: {
          text: pageTitle,
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        errorMessage: { text: formErrors["bankSelect"] } if formErrors["bankSelect"] else false,
        items: banksList,
        classes: "govuk-!-width-two-thirds"
      })
    }}
    <p class="govuk-body">
      <a
        href="{{ bankNotListedLink }}"
        class="govuk-link govuk-link--no-visited-state"
        data-module="govuk-button"
        >{{ translate("pages.chooseBank.notListedLinkText") }}
      </a>
    </p>
    <div class="govuk-button-group">{% include "includes/progress-button.njk" %}</div>
  </form>
{% endblock %}
