{% extends "layouts/base.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleKey = "pages.start.title" %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ translate(pageTitleKey) }}</h1>
      {% for item in translate("pages.start.content-a") %}
        {{ item | safe }}
      {% endfor %}
      {{
        govukDetails({
          summaryText: translate("pages.start.details.summary"),
          text: translate("pages.start.details.content") | safe
        })
      }}
      {% for item in translate("pages.start.content-b") %}
        {{ item | safe }}
      {% endfor %}
      <div class="govuk-button-group">
        <a href="{{ nextStep }}" class="govuk-button" data-module="govuk-button"
          >{{ translate("pages.start.primaryButton") }}</a
        >
      </div>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state"
          >{{ translate("pages.start.secondaryLink") }}</a
        >
      </p>
    </div>
  </div>
{% endblock %}
