{% extends "layouts/base.njk" %}

{% set pageTitleKey = "pages.index.title" %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ translate(pageTitleKey) }}</h1>
      <p class="govuk-body">{{ message }}</p>
    </div>
  </div>
{% endblock %}
