{% extends "layouts/base.njk" %}

{% set pageTitle = translate("errors.genericError.title") %}

<!--ga4 tags-->
{% set taxLevel2 = "error" %}
{% set statusCode = "500" %}
<!--ga4 tags-->

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% for item in translate("errors.genericError.content") %}
    {{ item | safe }}
  {% endfor %}

  <div class="govuk-button-group">
    <a href="https://www.gov.uk/" class="govuk-button" data-module="govuk-button"
      >{{ translate("errors.genericError.primaryButton") }}</a
    >
    <a
      href="https://home.account.gov.uk/contact-gov-uk-one-login"
      class="govuk-link govuk-link--no-visited-state"
      target="_blank"
      >{{ translate("errors.genericError.secondaryButton") }}</a
    >
  </div>

  {% if showStack %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <p class="govuk-body"><strong>{{ error.message }}</strong></p>
    <pre style="white-space:pre-wrap;word-break:break-word">{{ error.stack }}</pre>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" nonce="{{cspNonce}}">
    window.DI = window.DI || {}
    window.DI.httpStatusCode = 500
  </script>
  {{ super () }}
{% endblock %}
