{% extends "layouts/base.njk" %}

{% set pageTitle = translate("errors.genericError.title") %}

<!--ga4 tags-->
{% set taxLevel2 = "error" %}
{% set statusCode = "500" %}
<!--ga4 tags-->

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  <p class="govuk-body">{{ error.message }}</p>
  {% if showStack %}
    <pre>{{ error.stack }}</pre>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" nonce="{{cspNonce}}">
    window.DI = window.DI || {}
    window.DI.httpStatusCode = 500
  </script>
  {{ super () }}
{% endblock %}
