{% extends "layouts/base.njk" %}

{% set pageTitle = translate("errors.notFoundError.title") %}

<!--ga4 tags-->
{% set taxLevel2 = "page-not-found" %}
{% set statusCode = "404" %}
<!--ga4 tags-->

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% for item in translate("errors.notFoundError.content") %}
    {{ item | safe }}
  {% endfor %}

  <div class="govuk-button-group">
    <a href="https://www.gov.uk/" class="govuk-button" data-module="govuk-button"
      >{{ translate("errors.notFoundError.primaryButton") }}</a
    >
    <a
      href="https://home.account.gov.uk/contact-gov-uk-one-login"
      class="govuk-link govuk-link--no-visited-state"
      target="_blank"
      >{{ translate("errors.notFoundError.secondaryButton") }}</a
    >
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" nonce="{{cspNonce}}">
    window.DI = window.DI || {}
    window.DI.httpStatusCode = 404
  </script>
  {{ super () }}
{% endblock %}
