{% extends "layouts/base.njk" %}

{% set pageTitleKey = "errors.notFound.title" %}
<!--ga4 tags-->
{% set taxLevel2 = "page-not-found" %}
{% set contentID = "003" %}
{% set statusCode = "404" %}
<!--ga4 tags-->

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ translate(pageTitleKey) }}</h1>

      {% for item in translate("errors.notFound.content") %}
        {{ item | safe }}
      {% endfor %}

      <div class="govuk-button-group">
        <a href="https://www.gov.uk/" class="govuk-button" data-module="govuk-button"
          >{{ translate("errors.notFound.primaryButton") }}</a
        >
        <a
          href="https://home.account.gov.uk/contact-gov-uk-one-login"
          class="govuk-link govuk-link--no-visited-state"
          target="_blank"
          >{{ translate("errors.notFound.secondaryButton") }}</a
        >
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" nonce="{{cspNonce}}">
    window.DI = window.DI || {}
    window.DI.httpStatusCode = 404
  </script>
  {{ super () }}
{% endblock %}
