{% extends "layouts/base.njk" %}

{% set pageTitle = translate("errors.sessionExpiredError.title") %}

<!--ga4 tags-->
{% set taxLevel2 = "session-expired" %}
{% set statusCode = "401" %}
<!--ga4 tags-->

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" nonce="{{cspNonce}}">
    window.DI = window.DI || {}
    window.DI.httpStatusCode = 401
  </script>
  {{ super () }}
{% endblock %}
