{% extends "frontend-ui/build/components/bases/identity/v2/identity-base.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block head %}
  {% if devServer %}
    <script type="module" src="/@vite/client"></script>
    <link rel="stylesheet" href="/src/assets/scss/application.scss" />
  {% else %}
    <link rel="stylesheet" href="/public/stylesheets/application.css" />
  {% endif %}
{% endblock %}

{% set errorTitlePrefix = translate("govuk.errorSummary") %}
{% set backLinkText = translate("govuk.backLink") %}

{% block content %}
  {% if errorList %}
    {{
      govukErrorSummary({
        titleText: translate("govuk.errorSummary"),
        errorList: errorList
      })
    }}
  {% endif %}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% if devServer %}
    <script type="module" src="/src/assets/js/application.ts"></script>
  {% else %}
    <script type="module" src="/public/javascripts/application.js"></script>
  {% endif %}
{% endblock %}
