{% extends "govuk/template.njk" %}
{% set govukRebrand = true %}
{% set assetPath = "/public/rebrand" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {% if devServer %}
    <script type="module" src="/@vite/client"></script>
    <link rel="stylesheet" href="/src/assets/scss/stubs.scss" />
  {% else %}
    <link rel="stylesheet" href="/public/stylesheets/stubs.css" />
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block header %}
  {{
    govukHeader({
      rebrand: _rebrand,
      productName: "Open Banking CRI Webhook Stubs",
      classes: "hazard-border"
    })
  }}
  <div class="govuk-width-container">
    {{
      govukPhaseBanner({
        tag: {
          text: "ATTENTION",
          classes: "govuk-tag--yellow"
        },
        html: 'This is an internal page used for testing – <a class="govuk-link" href="https://home.account.gov.uk/contact-gov-uk-one-login">contact us immediately</a> if you were not expecting to see this'
      })
    }}
  </div>
{% endblock %}

{% block content %}
  {% for f in flash %}
    {% set html %}
      <h3 class="govuk-notification-banner__heading">{{ f.message.header }}</h3>
      {% if f.message.content %}
        <pre style="font-size: 0.9rem;">{{ f.message.content }}</pre>
      {% endif %}
    {% endset %}

    {{
      govukNotificationBanner({
        html: html,
        type: f.type,
        titleText: f.type | capitalize
      })
    }}
  {% endfor %}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
